.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(185, 252, 211);
    background: url('/background3.gif') no-repeat center center fixed; 
    background-size: cover;
  }

  .titleforpage{
      position: absolute;
      top: 9%;
      overflow: hidden;
      text-align: center;
      padding: 5px;
  }

  .container {
    padding: 0 2rem;
  }
  
.phone {
    margin-top: 60px;
    background-color: black;
    height: 570px;
    width: 280px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    transition: all 1s;
    border: 1px solid rgb(31, 31, 31);
    /* -webkit-box-shadow: -1px 3px 11px 1px rgba(0,0,0,0.65); 
    box-shadow: -1px 3px 11px 1px rgba(0,0,0,0.65); */
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 3px 11px 1px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, -1px 3px 11px 1px rgba(0,0,0,0);
}

.phone.close {
    top: 100%;
    height: 0;
}

.number1artist{
    height: 70px;
    width: 70px;
    position: relative;
    top: 20px;
    background-color: #bbb;
    border-radius: 50%;
    text-transform: none;

    display: inline-block;
}

.messages{
    color:white;
    position: relative;
    font-family: 'Roboto';
    font-weight: 300;
    text-transform: none;

    font-size: 15px;
}

.searchbar {
    width: 100%;
    height: 25px;
    position: relative;
    top: 5px;
    background-color: #2e2e2e;
    border-radius: 5px;
    color: grey;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 1px;
    display: flex;
    font-family: 'Roboto';

}

.topartist {
    display: grid;
}

.texts {
    background-color: rgb(0, 0, 0);
    height: 360px;
    text-transform: none;
    width: 250px;
    position: relative;
    top: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1px;
    font-family: 'Roboto';
}

.artist{
    margin-top: 2px;
    height: 60px;
    background-color: black;
    width: 100%;
    color: white;
    display: grid;
    margin-left: 4px;
    text-transform: none;

}
.artistimage {
    height: 45px;
    width: 45px;
    position: relative;
    border-radius: 50%;
    top: 7px;
    margin-left: 5px;
    display: inline-block;
}

.textmsg {
    font-size: 11px;
    position: 'relative';
    left: 60px;
    top: -60px;
    font-weight: 400;
    font-family: 'Roboto';
    color: 'grey';
    line-height: 50%;
}

.line{
    position: absolute; 
    right: 0; 
    width: 75%; 
    height: 47px;
    border-bottom: 0.5px solid rgb(34, 34, 34);
}
  
.bluedot {
    height: 9px;
    width: 9px;
    position: absolute;
    border-radius: 50%;
    top: 19px;
    left: -7px;
    display: inline-block;
    background-color: #5285ff;
}

.bluedot2 {
    height: 9px;
    width: 9px;
    position: absolute;
    border-radius: 50%;
    top: 83px;
    left: -7px;
    display: inline-block;
    background-color: #5285ff;
}

.bluedot3 {
    height: 9px;
    width: 9px;
    position: absolute;
    border-radius: 50%;
    top: 205px;
    left: -7px;
    display: inline-block;
    background-color: #5285ff;
}

.signedinas{
    position: absolute;
    top: 19%;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 0;
}

.appjs{
    background-color: transparent;
    display: flex;
    text-transform: lowercase;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 10px;
    font-size: 20px;
    flex: 0.1;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}

.appjs > button {
    background-color:rgb(255, 255, 255);
    border: 2px solid black;
    display: flex;
    width: 100%;
    text-transform: lowercase;
    opacity: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 3px 11px 1px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -1px 3px 11px 1px rgba(0,0,0,0);
}